.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/pexels-photo-3218467.jpeg");
}

.u-section-1 .u-sheet-1 {
  min-height: 812px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 308px 106px 0;
}

.u-section-1 .u-text-2 {
  width: 699px;
  margin: 89px auto 0;
}

.u-section-1 .u-icon-1 {
  height: 48px;
  width: 48px;
  margin: 193px auto 57px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 670px;
  }

  .u-section-1 .u-text-1 {
    width: 697px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 513px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 11px;
    margin-right: 11px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 385px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 242px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
    margin-top: 444px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 771px;
}

.u-section-2 .u-text-1 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 60px auto 0;
}

.u-section-2 .u-list-1 {
  width: 1140px;
  min-height: 375px;
  grid-auto-rows: 100%;
  margin: 102px auto 60px;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  grid-auto-rows: calc(33.33% - 6.66667px);
  grid-gap: 10px 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-4 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-6 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0 auto;
}

.u-section-2 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-8 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0 auto;
}

.u-section-2 .u-text-9 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-text-10 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0 auto;
}

.u-section-2 .u-text-11 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-text-12 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0 auto;
}

.u-section-2 .u-text-13 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-2 .u-list-1 {
    width: 940px;
    min-height: 309px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    grid-auto-rows: calc(33.33% - 6.666666666666667px);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    width: 720px;
    min-height: 375px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
    grid-auto-rows: calc(16.66% - 8.33333px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-rows: calc(16.66% - 8.333333333333334px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-list-1 {
    width: 340px;
  }
}.u-section-3 {
  min-height: 640px;
}

.u-section-3 .u-sheet-1 {
  min-height: 1010px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 100px auto 100px 0;
}

.u-section-3 .u-image-1 {
  min-height: 405px;
  background-image: url("images/pexels-marta-dzedyshko-2067396.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 405px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.125rem;
  margin: 55px 106px 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-3 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-3 .u-image-2 {
  min-height: 405px;
  background-image: url("images/pexels-photo-4099237.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 405px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-text-4 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.125rem;
  margin: 55px 96px 0;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-3 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-3 .u-image-3 {
  min-height: 405px;
  background-image: url("images/pexels-photo-949069.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 405px;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-text-7 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.125rem;
  margin: 55px 81px 0;
}

.u-section-3 .u-text-8 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-3 .u-text-9 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  margin: 20px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 640px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 334px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 334px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 73px;
    margin-right: 73px;
  }

  .u-section-3 .u-image-2 {
    min-height: 334px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 334px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 63px;
    margin-right: 63px;
  }

  .u-section-3 .u-image-3 {
    min-height: 334px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 334px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 48px;
    margin-right: 48px;
  }
}

@media (max-width: 991px) {
  .u-section-3 {
    min-height: 562px;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 562px;
  }

  .u-section-3 .u-image-1 {
    min-height: 256px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 36px;
    margin-right: 36px;
  }

  .u-section-3 .u-image-2 {
    min-height: 256px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-3 .u-image-3 {
    min-height: 256px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 11px;
    margin-right: 11px;
  }
}

@media (max-width: 767px) {
  .u-section-3 {
    min-height: 1446px;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 1446px;
  }

  .u-section-3 .u-image-1 {
    min-height: 576px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    min-height: 576px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    min-height: 576px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 {
    min-height: 1026px;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 1026px;
  }

  .u-section-3 .u-image-1 {
    min-height: 363px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    min-height: 363px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-3 {
    min-height: 363px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 752px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 60px 339px 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 235px 0;
}

.u-section-4 .u-slider-1 {
  margin-top: 20px;
  margin-bottom: 0;
  min-height: 453px;
}

.u-section-4 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 55px;
}

.u-section-4 .u-gallery-1 {
  height: 354px;
  width: 904px;
  grid-gap: 10px;
  margin: 0 auto;
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-gallery-2 {
  height: 354px;
  width: 904px;
  grid-gap: 10px;
  margin: 0 auto;
}

.u-section-4 .u-gallery-inner-2 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
}

.u-section-4 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-carousel-control-1 {
  background-image: none;
  width: 55px;
  height: 55px;
}

.u-section-4 .u-carousel-control-2 {
  background-image: none;
  width: 55px;
  height: 55px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  margin: 36px auto 60px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 723px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 239px;
    margin-right: 239px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 135px;
    margin-right: 135px;
  }

  .u-section-4 .u-slider-1 {
    height: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-4 .u-gallery-1 {
    height: 393px;
    grid-template-columns: repeat(3, auto);
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-4 .u-gallery-2 {
    height: 393px;
    grid-template-columns: repeat(3, auto);
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-left: 129px;
    margin-right: 129px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-4 .u-gallery-1 {
    height: 680px;
    grid-template-columns: repeat(2, auto);
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 65px;
  }

  .u-section-4 .u-gallery-2 {
    height: 680px;
    grid-template-columns: repeat(2, auto);
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-gallery-inner-2 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1991px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 39px;
    margin-right: 39px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-gallery-1 {
    height: 1607px;
    grid-template-columns: repeat(1, auto);
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-gallery-2 {
    height: 1607px;
    grid-template-columns: repeat(1, auto);
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-gallery-inner-2 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-4 .u-btn-1 {
    margin-bottom: 59px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1358px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    margin-top: -257px;
    margin-left: -17px;
    margin-right: -17px;
  }

  .u-section-4 .u-gallery-1 {
    height: 989px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-gallery-2 {
    height: 989px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-btn-1 {
    margin-bottom: -257px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 324px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2;
  width: 888px;
  margin: 6px auto 0;
}

.u-section-5 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 30px auto 6px;
}

.u-section-5 .u-icon-1 {
  height: 100%;
}

.u-section-5 .u-icon-2 {
  height: 100%;
}

.u-section-5 .u-icon-3 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-left: 26px;
    margin-right: 26px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 418px;
  }

  .u-section-5 .u-text-1 {
    width: 540px;
    margin-top: 53px;
  }

  .u-section-5 .u-social-icons-1 {
    margin-bottom: 53px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 1.125rem;
    width: 340px;
  }
}